:root {
  --primary-bg-300: #f06;
  --primary-bg-400: #f06;
  --primary-bg-500: #f06;
  --primary-bg-700: darkred;
  --secondary-bg-700: hsl(328, 100%, 35%);
  --primary-clr: white;
  --body-bg: hsl(0, 0%, 82%);
  --alert-bg: hsl(52, 100%, 50%);
}
