:root {
  --primary-bg-300: #f06;
  --primary-bg-400: #f06;
  --primary-bg-500: #f06;
  --primary-bg-700: darkred;
  --secondary-bg-700: #b3005e;
  --primary-clr: white;
  --body-bg: hsl(0, 0%, 82%);
}
