@import url('https://fonts.googleapis.com/css2?family=Abel&family=Henny+Penny&display=swap');

.font-size-135em {
  font-size: 1.35em;
}

.small {
  font-size: 0.65rem;
  margin-bottom: -15px;
}

.footer1-type {
  text-align: center;
  font-size: 0.8rem;
}

.caption {
  text-align: center;
  font-size: 16px;
  margin: 0px;
}
