#liveAlertPlaceholder {
  position: absolute;
  top: 2em;
  margin: 0 auto;
  z-index: 100;
  color: black;
}

.copy {
  min-width: 800px;
  margin: 0 2em 0 0;
}

.discography {
  width: 1250px;
  height: 175px;
  margin-top: 40px;
  background-color: var(--secondary-bg-700);
  border-radius: 25px;
}

.footer1 {
  width: 100%;
  margin: 45px 0px 0px 0px;
  height: 44px;
}
